fastapi
python-socketio
python-dotenv
langchain
langchain-google-genai
paramiko
pandas
scikit-learn
twilio
mailjet-rest
telepot
instagrapi
uvicorn
langchain-groq==0.2.0
langchain-ollama==0.2.0
httpx==0.27.0
